.footer {
      @include displayFlexColumn;
      gap: 3rem;
      background-color: $cp-oxford-blue;
      width: 100%;
      padding: 5rem 1rem 1rem;
      &__websiteLinksContainer {
            @include displayFlexColumn;
            gap: 2.5rem;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  align-items: flex-start;
                  gap: 1rem;
                  justify-content: space-between;
                  @include respond(tab-land) {
                        width: min(100%, 65rem);
                  }
                  @include respond(desk) {
                        width: min(100%, 75rem);
                  }
                  @include respond(big-desk) {
                        width: min(100%, 95rem);
                  }
            }
      }
      &__logoImg {
            display: block;
            width: 15rem;
            height: auto;
      }
      &__facebookIcon {
            display: block;
            width: 4rem;
            height: auto;
            @include respond(tab-land) {
                  margin-top: 1rem;
            }
      }
      &__navList {
            @include displayFlexColumn;
            gap: .5rem;
            @include respond(tab-land) {
                  align-items: flex-start;
            }
      }
      &__address {
            @include displayFlexColumn;
            gap: 2rem;
            @include respond(tab-land) {
                  align-items: flex-start;
                  gap: 1rem;
            }
      }
      &__contactItemFooter--numbers {
            @include displayFlexColumn;
            gap: 0;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  gap: .5rem;
            }
      }
      &__contactLinkFooter {
            @include displayFlexColumn;
            gap: 0rem;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  gap: .5rem;
                  // margin-right: 2rem;
            }
      }
      &__numberSeperator {
            display: none;
            @include respond(tab-land) {
                  display: inline-block;
                  background-color: $cp-harvest-gold;
                  border-radius: $br-circle;
                  width: 8px;
                  height: 8px;
                  margin: 0 .75rem;
            }
      }
      &__contactIconFooter {
            display: block;
            width: 3.7rem;
            height: 3.7rem;
      }
      &__contactIconFooter--addressFooter {
            display: block;
            width: 3.4rem;
            height: 3.4rem;
      }
      @include respond(tab-land) {
            &__contactIconFooter {
                  display: block;
                  width: 2.7rem;
                  height: 2.7rem;
            }
            &__contactIconFooter--addressFooter {
                  display: block;
                  width: 2.4rem;
                  height: 2.4rem;
            }
      }
      &__copyAndDev {
            @include displayFlexColumn;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  justify-content: space-between;
                  align-items: flex-start;
                  width: min(100%, 65rem);
            }
            @include respond(desk) {
                  width: min(100%, 75rem);
            }
            @include respond(big-desk) {
                  width: min(100%, 95rem);
            }
      }
}