.footer {
      @include displayFlexColumn;
      gap: 3rem;
      background-color: $cp-oxford-blue;

      width: min(100%, 45rem);
      padding: 1rem;
      &__logoImg {
            display: block;
            width: 15rem;
            height: auto;
      }
      &__navList {
            @include displayFlexColumn;
            gap: .5rem;
      }
      &__address {
            @include displayFlexColumn;
            gap: 2rem;
            @media (min-width: 340px) {
                  gap: .25rem;
            }
      }
      &__contactLinkFooter {
            @include displayFlexColumn;
            gap: 0rem;
            @media (min-width: 340px) {
                  @include displayFlexRow;
                  gap: .5rem;
                  margin-right: 2rem;
            }
      }
      &__contactIconFooter {
            display: block;
            width: 3.7rem;
            height: 3.7rem;
      }
      &__contactIconFooter--addressFooter {
            display: block;
            width: 3.4rem;
            height: 3.4rem;
      }
      @media (min-width: 340px) {
            &__contactIconFooter {
                  display: block;
                  width: 2.7rem;
                  height: 2.7rem;
            }
            &__contactIconFooter--addressFooter {
                  display: block;
                  width: 2.4rem;
                  height: 2.4rem;
            }
      }
      &__copyAndDev {
            @include displayFlexColumn;
      }
}