<footer class="footer">
      <figure class="footer__figure"></figure>
      <nav class="footer__footerNav"></nav>
      <address class="footer__address"></address>
      <div class="footer__copyAndDev"></div>
</footer>