<footer class="footer">
      <figure class="footer__figure"></figure>
      <nav class="footer__footerNav"></nav>
      <address class="footer__address"></address>
      <div class="footer__copyAndDev">
            <p class="footer__copy paragraph paragraph--copy">Copyright &copy; 2024 Goldberg Tobacco Wholesalers</p>
            <p class="footer__dev paragraph paragraph--dev">
                  designed and developed by: 
                  <br class="footer__breakLineDev">
                  <a href="https://schalkvandyk.com" target="_blank">
                        <span class="paragraph paragraph--devName">Schalk van Dyk &rarr;</span>
                  </a>
            </p>
      </div>
</footer>