<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/Favicon/GoldbergLogo16by16.png" type="image/png" sizes="16x16">
      <link rel="icon" href="img/Favicon/GoldbergLogo32by32.png" type="image/png" sizes="32x32">
      <title>Goldberg Tobacco Wholesalers | Your Go-To Online Vape & Tobacco Products Supplier in Modimolle, Limpopo, South Africa - 54 Chris Hani Street, 0510</title>
      <link rel="stylesheet" href="css/main.css">
</head>
<body>
      <header class="header">
            <h1 class="header__h1">Hello World!</h1>
            <p><%= data %></p>
      </header>
      <%- include('partials/footer') %>
</body>
</html>