<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/Favicon/GoldbergLogo16by16.png" type="image/png" sizes="16x16">
      <link rel="icon" href="img/Favicon/GoldbergLogo32by32.png" type="image/png" sizes="32x32">
      <title>Goldberg Tobacco Wholesalers | Your Go-To Online Vape & Tobacco Products Supplier in Modimolle, Limpopo, South Africa - 54 Chris Hani Street, 0510</title>
      <link rel="stylesheet" href="css/main.css">
</head>
<body>
      <header class="header">
            <%- include('partials/navbar') %>
            <section class="header__hero hero">
                  <img class="hero__logoImage" src="img/Logo/GoldbergLogo500by500.png" alt="Logo image of Goldberg Tobacco Wholesalers in Modimolle.">
                  <article class="hero__cta">
                        <h1 class="hero__headingHero headingHero">
                              <span class="headingHero__headingH1">Goldberg Tobacco Wholesalers</span>
                              <span class="headingHero__byline">Quality is our Priority</span>
                              <span class="headingHero__intro">We are your premier 
                                    go-to supplier for top-quality vape and 
                                    tobacco products and other smoking essentials 
                                    in Modimolle, Limpopo, South Africa. With a 
                                    commitment to excellence and a diverse range 
                                    of quality products, we cater to both individual 
                                    consumers and businesses alike. </span>
                        </h1>
                        <button class="btn btn--primary">View Products</button>
                  </article>
            </section>
      </header>
      <main class="main">
            <section class="main__about about">
                  <h2 class="about__headingH2 headingH2 headingH2--about">About</h2>
                  <div class="about__aboutContentWrapper">
                        <figure class="about__figure">
                              <img class="about__imgAboutComp about__imgAboutComp--front" src="img/WebsiteImages/GoldbergShopFront.jpg" alt="">
                              <img class="about__imgAboutComp about__imgAboutComp--window" src="img/WebsiteImages/GoldbergShopWindow.jpg" alt="">
                              <img class="about__imgAboutComp about__imgAboutComp--product2" src="img/WebsiteImages/GoldbergP2.jpg" alt="">
                              <img class="about__imgAboutComp about__imgAboutComp--product1" src="img/WebsiteImages/GoldbergP1.jpg" alt="">
                        </figure>
                        <article class="about__text">
                              <h3 class="about__headingH3 headingH3 headingH3--about">Who we are</h3>
                              <p class="about__paragraph paragraph paragraph--about">At Goldberg Tobacco 
                                    Wholesalers, we're dedicated enthusiasts committed to providing top-quality 
                                    smoking experiences. With years of expertise, we offer a diverse selection 
                                    of trusted products ensuring reliability and satisfaction. Our exceptional 
                                    customer service ensures informative, personalized interactions. Whether 
                                    you're a seasoned smoker or new to vaping, trust us for your smoking needs 
                                    responsibly.</p>
                              <button class="btn btn--secondary btn--about">Contact Us</button>
                        </article>
                  </div>
            </section>
            <section class="main__products products">
                  <h2 class="products__headingH2 headingH2 headingH2--products">Our Products</h2>
                  <div class="slider">
                        <div class="slider__leftArrContainer">
                              <svg class="slider__arrow slider__leftArr leftArr" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 6L9 12L15 18" stroke="#f5aa15" stroke-width="2"/>
                              </svg>
                        </div>
                        <div class="slider__slidesAndIndexContainer">
                              <div class="slider__slidesContainer">
                                    <figure class="slider__figure">
                                          <img class="slider__productImg slider__productImg1" src="img/WebsiteImages/GoldbergProduct1.webp" alt="">
                                          <h4 class="slider__headingH4 headingH4 headingH4--productSlideName">Pop Hit Mini</h4>
                                          <p class="slider__paragraph paragraph paragraph--productSlidePrice">R69.99</p>
                                    </figure>
                                    <figure class="slider__figure slider__displayNone">
                                          <img class="slider__productImg slider__productImg2" src="img/WebsiteImages/GoldbergProduct2.webp" alt="">
                                          <h4 class="slider__headingH4 headingH4 headingH4--productSlideName">Mini Pod</h4>
                                          <p class="slider__paragraph paragraph paragraph--productSlidePrice">R49.99</p>
                                    </figure>
                                    <figure class="slider__figure slider__displayNone">
                                          <img class="slider__productImg slider__productImg3" src="img/WebsiteImages/GoldbergProduct3.webp" alt="">
                                          <h4 class="slider__headingH4 headingH4 headingH4--productSlideName">The Bar S1000</h4>
                                          <p class="slider__paragraph paragraph paragraph--productSlidePrice">R89.99</p>
                                    </figure>
                                    <figure class="slider__figure slider__displayNone">
                                          <img class="slider__productImg slider__productImg4" src="img/WebsiteImages/GoldbergProduct4.webp" alt="">
                                          <h4 class="slider__headingH4 headingH4 headingH4--productSlideName">Voom Mini</h4>
                                          <p class="slider__paragraph paragraph paragraph--productSlidePrice">R79.99</p>
                                    </figure>
                                    <figure class="slider__figure slider__displayNone">
                                          <img class="slider__productImg slider__productImg5" src="img/WebsiteImages/GoldbergProduct5.webp" alt="">
                                          <h4 class="slider__headingH4 headingH4 headingH4--productSlideName">Pop Hit Extra</h4>
                                          <p class="slider__paragraph paragraph paragraph--productSlidePrice">R99.99</p>
                                    </figure>
                              </div>
                              <div class="slider__indexContainer">
                                    <span class="slider__index slider__index--1"></span>
                                    <span class="slider__index slider__index--2"></span>
                                    <span class="slider__index slider__index--3"></span>
                                    <span class="slider__index slider__index--4"></span>
                                    <span class="slider__index slider__index--5"></span>
                              </div>
                        </div>
                        <div class="slider__rightArrContainer">
                              <svg class="slider__arrow slider__rightArr rightArr" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 6L15 12L9 18" stroke="#f5aa15" stroke-width="2"/>
                              </svg>
                        </div>
                        
                  </div>
            </section>
      </main>
      <aside class="sidebar">
            <section class="sidebar__contact contact">
                  <h2 class="contact__headingH2 headingH2 headingH2--contact">Contact Us</h2>
                  <div class="contact__contactContentWrapper">
                  </div>
            </section>
      </aside>
      <%- include('partials/footer') %>
      <script src="js/app.js"></script>
</body>
</html>