<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/Favicon/GoldbergLogo16by16.png" type="image/png" sizes="16x16">
      <link rel="icon" href="img/Favicon/GoldbergLogo32by32.png" type="image/png" sizes="32x32">
      <title>Goldberg Tobacco Wholesalers | Your Go-To Online Vape & Tobacco Products Supplier in Modimolle, Limpopo, South Africa - 54 Chris Hani Street, 0510</title>
      <link rel="stylesheet" href="css/main.css">
</head>
<body>
      <header class="header">
            <%- include('partials/navbar') %>
            <section class="header__hero hero">
                  <img class="hero__logoImage" src="img/Logo/GoldbergLogo500by500.png" alt="Logo image of Goldberg Tobacco Wholesalers in Modimolle.">
                  <article class="hero__cta">
                        <h1 class="hero__headingHero headingHero">
                              <span class="headingHero__headingH1">Goldberg Tobacco Wholesalers</span>
                              <span class="headingHero__byline">Quality is our Priority</span>
                              <span class="headingHero__intro">We are your premier 
                                    go-to supplier for top-quality vape and 
                                    tobacco products and other smoking essentials 
                                    in Modimolle, Limpopo, South Africa. With a 
                                    commitment to excellence and a diverse range 
                                    of quality products, we cater to both individual 
                                    consumers and businesses alike. </span>
                        </h1>
                        <button class="btn btn--primary">View Products</button>
                  </article>
            </section>
      </header>
      <main class="main">
            <section class="main__about about">
                  <figure>
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <h4></h4>
                        <p></p>
                  </figure>
                  <article>
                        <h3></h3>
                        <p></p>
                        <button></button>
                  </article>
            </section>
            <section class="main__products products">
                  Products
            </section>
      </main>
      <aside class="sidebar">
            <section class="sidebar__contact contact">
                  Contact
            </section>
      </aside>
      <%- include('partials/footer') %>
      <script src="js/app.js"></script>
</body>
</html>