<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/Favicon/GoldbergLogo16by16.png" type="image/png" sizes="16x16">
      <link rel="icon" href="img/Favicon/GoldbergLogo32by32.png" type="image/png" sizes="32x32">
      <title>Goldberg Tobacco Wholesalers | Your Go-To Online Vape & Tobacco Products Supplier in Modimolle, Limpopo, South Africa - 54 Chris Hani Street, 0510</title>
      <link rel="stylesheet" href="css/main.css">
</head>
<body>
      <header class="header">
            <%- include('partials/navbar') %>
            <section class="header__hero hero">
                  <img class="hero__logoImage" src="img/Logo/GoldbergLogo500by500.png" alt="Logo image of Goldberg Tobacco Wholesalers in Modimolle.">
                  <article class="hero__cta">
                        <h1 class="hero__headingHero headingHero">
                              <span class="headingHero__headingH1">Goldberg Tobacco Wholesalers</span>
                              <span class="headingHero__byline">Quality is our Priority</span>
                              <span class="headingHero__intro">We are your premier 
                                    go-to supplier for top-quality vape and 
                                    tobacco products and other smoking essentials 
                                    in Modimolle, Limpopo, South Africa. With a 
                                    commitment to excellence and a diverse range 
                                    of quality products, we cater to both individual 
                                    consumers and businesses alike. </span>
                        </h1>
                        <button class="btn btn--primary">View Products</button>
                  </article>
            </section>
      </header>
      <main class="main">
            <section class="main__about about">
                  <h2 class="about__headingH2 headingH2 headingH2--about">About</h2>
                  <div class="about__aboutContentWrapper">
                        <figure class="about__figure">
                              <img class="about__imgAboutComp about__imgAboutComp--front" src="img/WebsiteImages/GoldbergShopFront.jpg" alt="">
                              <img class="about__imgAboutComp about__imgAboutComp--window" src="img/WebsiteImages/GoldbergShopWindow.jpg" alt="">
                              <img class="about__imgAboutComp about__imgAboutComp--product2" src="img/WebsiteImages/GoldbergP2.jpg" alt="">
                              <img class="about__imgAboutComp about__imgAboutComp--product1" src="img/WebsiteImages/GoldbergP1.jpg" alt="">
                        </figure>
                        <article class="about__text">
                              <h3 class="about__headingH3 headingH3 headingH3--about">Who we are</h3>
                              <p class="about__paragraph paragraph paragraph--about">At Goldberg Tobacco 
                                    Wholesalers, we're dedicated enthusiasts committed to providing top-quality 
                                    smoking experiences. With years of expertise, we offer a diverse selection 
                                    of trusted products ensuring reliability and satisfaction. Our exceptional 
                                    customer service ensures informative, personalized interactions. Whether 
                                    you're a seasoned smoker or new to vaping, trust us for your smoking needs 
                                    responsibly.</p>
                              <button class="btn btn--secondary btn--about">Contact Us</button>
                        </article>
                  </div>
            </section>
            <section class="main__products products">
                  <h2 class="products__headingH2 headingH2 headingH2--products">Our Products</h2>
                  <div class="products__productsContentWrapper">
                        <figure class="products__figure">
                              <img src="" alt="">
                              <img src="" alt="">
                              <img src="" alt="">
                              <img src="" alt="">
                              <img src="" alt="">
                              <h4></h4>
                              <p></p>
                        </figure>
                        <article class="products__text">
                              <h3 class="products__headingH3 headingH3 headingH3--products"></h3>
                              <p class="products__paragraph paragraph paragraph--products">At Goldberg Tobacco Wholesalers, 
                                    we are more than just a supplier of vape and tobacco products; we are dedicated 
                                    enthusiasts with a passion for providing the highest quality smoking experiences 
                                    to our customers in Modimolle, Limpopo, South Africa, and beyond. With years of 
                                    industry expertise, we curate a diverse selection of products sourced from 
                                    trusted manufacturers, ensuring both reliability and satisfaction with every 
                                    purchase. Our commitment to excellence extends beyond our product offerings to 
                                    encompass exceptional customer service, ensuring that every interaction with us 
                                    is informative, personalized, and enjoyable. Whether you're a seasoned smoker 
                                    or new to the world of vaping, you can trust Goldberg Tobacco Wholesalers to 
                                    provide you with the products and support you need to indulge in your passion 
                                    responsibly.</p>
                              <button class="btn btn--secondary">Contact Us</button>
                        </article>
                  </div>
            </section>
      </main>
      <aside class="sidebar">
            <section class="sidebar__contact contact">
                  <h2 class="contact__headingH2 headingH2 headingH2--contact">Contact Us</h2>
                  <div class="contact__contactContentWrapper">
                  </div>
            </section>
      </aside>
      <%- include('partials/footer') %>
      <script src="js/app.js"></script>
</body>
</html>