.slider {
      @include displayFlexRow;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 36rem;
      padding: 0 1rem;
      position: relative;
      &__arrow {
            display: block;
            width: 3rem;
            height: auto;
      }
      &__leftArr, &__rightArr {
            background-color: $cp-oxford-blue;
            border-radius: $br-circle;
            padding: .25rem;
      }
      &__slidesAndIndexContainer {
            @include displayFlexColumn;
            gap: 2rem;
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -500;
      }
      &__slidesContainer {
            min-height: 30rem;
            position: relative;
      }
      &__figure {
            @include displayFlexColumn;
            border: 1px solid $cp-oxford-blue;
            box-shadow: 0 0 12px 2px rgba($cp-dark, .25);
            padding: 1rem;
            transition: opacity 1s;
      }
      &__productImg {
            display: block;
            width: 24rem;
            height: auto;
      }
      &__indexContainer {
            @include displayFlexRow;
            gap: .5 rem;
      }
      &__index {
            background-color: $cp-oxford-blue;
            border-radius: $br-circle;
            width: 7px;
            height: 7px;
      }
      &__index--1 {
            background-color: $cp-harvest-gold;
      }
      @include respond(tab-land) {
            flex: 1 0 30rem;
            min-height: 30rem;
            &__arrow {
                  margin-bottom: 15rem;
            }
            &__productImg {
                  width: 18rem;
            }
            &__slidesAndIndexContainer {
                  top: 30%;
                  height: 30rem;
            }
            &__slidesContainer {
                  min-height: 26rem;
            }
      }
      @include respond(desk) {
            &__arrow {
                  margin-bottom: 8rem;
            }
            &__slidesAndIndexContainer {
                  top: 43%;
            }
      }
      @include respond(big-desk) {
            &__arrow {
                  margin-bottom: 0rem;
            }
            &__slidesAndIndexContainer {
                  top: 55%;
            }
      }
}
.slider__animateRemoveSlideToLeft {
      animation: animateRemoveSlideToLeft 1.5s;
}
.slider__animateAddSlideFromRight {
      animation: animateAddSlideFromRight 1s;
}
.slider__animateRemoveSlideToRight {
      animation: animateRemoveSlideToRight 1.5s;
}
.slider__animateAddSlideFromLeft {
      animation: animateAddSlideFromLeft 1s;
}
.slider__displayNone {
      display: none;
}
.slider__displayBlock {
      display: block;
}