// typography
// font-family: 'Lato', sans-serif; font-weight: 400, 500, 700, 900;   --- H3, H4, H5 &Body Text
// font-family: 'Playpen Sans', cursive;   --- H2
// font-family: 'Rum Raisin', sans-serif;  --- H1

body {
	color: $cf-eggshell;
	font-family: 'Lato', sans-serif;
	font-size: clamp(1.4rem, 4.6vw, 1.6rem);
	font-weight: 400;
	text-align: center;
	line-height: 1.6;
	@include respond(tab-land) {
		text-align: left;	
	}
}
.headingHero {
	&__headingH1 {
		color: $cf-oxford-blue;
		font-family: 'Rum Raisin', sans-serif;
		font-size: clamp(1.8rem, 6vw, 2rem);
		font-weight: 900;
		letter-spacing: 3px;
		text-align: center;
		line-height: 1.1;
	}
	&__byline {
		color: $cf-harvest-gold;
		font-family: 'Lato', sans-serif;
		font-size: clamp(1.6rem, 6vw, 1.8rem);
		font-weight: 700;
		letter-spacing: 1px;
		text-align: center;
		text-shadow: 1px 1px 1px $cp-oxford-blue;
		line-height: 1.2;
	}
	&__intro {
		color: $cf-oxford-blue;
		font-family: 'Lato', sans-serif;
		font-size: clamp(1.4rem, 4.6vw, 1.6rem);
		font-weight: 400;
		text-align: center;
		line-height: 1.4;
	}
	@include respond(tab-land) {
		&__headingH1 {
			text-align: left;
		}
		&__byline {
			text-align: left;
		}
		&__intro {
			text-align: left;
		}
	}
}
.headingH2 {
	color: $cf-oxford-blue;
	font-family: 'Rum Raisin', sans-serif;
	font-size: clamp(1.8rem, 6vw, 2rem);
	font-weight: 900;
	letter-spacing: 2px;
	text-align: center;
	line-height: 1.1;
}
.headingH3 {
	color: $cf-harvest-gold;
	font-family: 'Lato', sans-serif;
	font-size: clamp(1.6rem, 6vw, 1.8rem);
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 1px 1px 1px $cp-oxford-blue;
	line-height: 1.2;
	&--getDirections {
		color: $cf-harvest-gold;
		@include respond(tab-land) {
			text-align: left;
		}
	}
	&--footer {
		color: $cf-dark-goldenrod;
	}
}
.headingH4 {
	color: $cf-oxford-blue;
	font-family: 'Lato', sans-serif;
	font-size: clamp(1.6rem, 6vw, 1.8rem);
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	line-height: 1.1;
}
.paragraph {
	&--legalAge {
		color: $cf-oxford-blue;
		font-family: 'Lato', sans-serif;
		font-size: clamp(1.4rem, 4.6vw, 1.6rem);
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		line-height: 1.2;
	}
	&--logo {
		color: $cf-white;
		font-family: 'Rum Raisin', sans-serif;
		font-size: clamp(1.2rem, 4vw, 1.4rem);
		font-weight: 700;
		text-align: left;
		line-height: 1.2;
	}
	&--about {
		color: $cf-oxford-blue;
	}
	&--productSlidePrice {
		color: $cf-oxford-blue;
		font-weight: 500;
		text-align: center;
	}
	&--products {
		color: $cf-oxford-blue;
	}
	&--contactDetailsIntro, &--contactDetailContact {
		color: $cf-oxford-blue;
		font-weight: 500;
	}
	&--contactDetailFooter {
		@media (min-width: 340px) {
			font-size: clamp(1.3rem, 4vw, 1.6rem);	
		}
		
	}
	&--dev {
		font-size: clamp(1.2rem, 4vw, 1.4rem);
		line-height: 1.2;
	}
	&--devName {
		color: $cf-harvest-gold;
		text-decoration: underline;
		text-underline-offset: 3px;
	}	
}
.btn {
	color: $cf-oxford-blue;
	font-family: 'Lato', sans-serif;
	font-size: clamp(1.6rem, 5.5vw, 1.8rem);
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2;
	&--primary-legalAge {
		font-size: clamp(1.7rem, 5.5vw, 1.9rem);
		font-weight: 700;
		letter-spacing: 2px;
	}	
}
.contact__address {
	font-style: normal;
}
.footer {
	&__navItem {
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}